<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body class="container">
    <h1>Mad Libs</h1>
    <p> Script for Next Marvel Movie</p>
    <p>Meet our hero @Model.GetSillyName(), a super-intelligent @Model.GetUnrealisticProfession(). A run-in with the @Model.GetCountry() military leads him to create his alter-ego @Model.GetAnotherSillyName(), a @Model.GetColor() @Model.GetAdjective() giant capable of great @Model.GetVerb().</p>
  </body>
</html>
