<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Mad Libs</h1>
    <p> Generic Comic Superhero Movie</p>
    <p>Meet our hero @Model.SillyName(), a super-intelligent @Model.UnrealisticProfession. A run-in with the @Model.Country() military leads him to create his alter-ego @Model.AnotherSillyName, a @Model.Color() @Model.Adjective() giant capable of great destruction.</p>
  </body>
</html>
